.page-title {
    color: black;
    font-family:;
    font-weight:normal;
    text-align:center;
    font-size:6em;
}

.game-info-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info {
    font-family:;
    color: black;
    font-size:4em;  
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    background-color: black;
    height:175px;
    width:125px;

}