@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-title {
    color: black;
    font-family: 'Pacifico', cursive;
    font-weight:normal;
    text-align:center;
    font-size:6em;
}

.game-info-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    color: black;
    font-size:4em;  
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: white;
    height:175px;
    width:125px;
    overflow:hidden;

}

.card-face {
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:12px;
    border-width: 1px;
    border-style: solid;

}

.card-back {
    background-color: white;
    border-color: black;
}

.card-front {
    transform: rotateX(180deg);
}

.anchor {
    width: 50px;
    height: 50px;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}

card-back:hover .anchor {
    transform: translateY(0);
}


.btn-div {
   
    text-align: center;
}

.btn-group {
   
    text-align: center;
    width: 540px;
}